@model IEnumerable<ResumeMvc.Models.Work>
@if (Model != null && Model.Any())
{
    <section id="work">
        <h2 class="underlined">Work</h2>
        @foreach (var item in Model)
        {
            <div class="item">
                @if (!string.IsNullOrWhiteSpace(item.Company))
                {
                    <section id="@item.Company">
                        <h3 class="work_name">
                            @item.Company
                            @Html.Partial("_DateSpan", (ResumeMvc.Models.IHasDateSpan)item)
                        </h3>
                        <div class="work_date">
                        </div>
                    </section>
                }

                @if (!string.IsNullOrWhiteSpace(item.Website))
                {
                    <div class="work_website">
                        <a href="@item.Website">@item.Website</a>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(item.Position))
                {
                    <div class="work_position">
                        @item.Position
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(item.Summary))
                {
                    <div class="summary">
                        <p>@item.Summary</p>
                    </div>
                }
                @if (item.Highlights != null)
                {
                    @Html.Partial("_Highlights", item.Highlights);
                }
            </div>
        }
    </section>
}